<main class='profile-card'>

	<div class='profile-card__side'>
		{{{backButton}}}
	</div>

	<div class='profile-card__content'>

		<div class='profile-page__avatar'>
			<div class='avatar-wrapper'>
				<img
					src='{{avatar}}'
					alt='Аватар'
					onerror="this.onerror=null;this.src='{{avatarFallback}}';"
				/>
			</div>

			<div class='profile-page__name'>{{first_name}}</div>
		</div>

		<div class='profile-page__fields'>
			<div class='field'><span>Почта</span><span>{{email}}</span></div>
			<div class='field'><span>Логин</span><span>{{login}}</span></div>
			<div class='field'><span>Имя</span><span>{{first_name}}</span></div>
			<div class='field'><span>Фамилия</span><span>{{second_name}}</span></div>
			<div class='field'><span>Имя в чате</span><span
				>{{display_name}}</span></div>
			<div class='field'><span>Телефон</span><span>{{phone}}</span></div>
		</div>
		<div class='profile-page__actions'>
			<a href='/settings/edit'>Изменить данные</a>
			<div class='divider'></div>

			<a href='/settings/password'>Изменить пароль</a>
			<div class='divider'></div>

			<a href='/logout' class='logout'>Выйти</a>

		</div>

	</div>

</main>