<main class='registration-page'>
	<h1>Регистрация</h1>

	<form id='registration-form'>

		<div class='registration-form__fields'>
			{{{emailInput}}}
			{{{loginInput}}}
			{{{firstNameInput}}}
			{{{secondNameInput}}}
			{{{phoneInput}}}
			{{{passwordInput}}}
			{{{passwordRepeatInput}}}
		</div>

		<div class='registration-form__actions'>
			{{{submitButton}}}
			<a href='/signIn'>Войти</a>
		</div>

	</form>
</main>